/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

#menu ons-page .page__content::-webkit-scrollbar {
  width: 2px;
}

#menu ons-page .page__content::-webkit-scrollbar-thumb {
background-color: red;
}

#menu ons-page .page__content::-webkit-scrollbar-track{

background-color: black;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

#langBtn,
#menuBtn
{
	position: fixed;
	
	right: 20px;
	z-index: 1000;
	padding: 10px 12px;
	border: 2px solid white;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	box-shadow: 0px 3px 11px #000;
	font-size: 21px;
}

#menuBtn{ bottom: 60px; }
#langBtn{ display: none; top: 10px; padding: 6px; }


#menuLogo
{
	display: block;
	margin: auto;
}

ons-page .page__background
{
	background-image: url( /img/bg.jpg );
	background-size: cover;
	background-position: center;
}

ons-page .page__content
{
	font-family: 'Abel';
	box-sizing: border-box;
	padding: 16px;
	font-size: 18px;
}


ons-page .page__content p, 
ons-page .page__content ul
{
	background-color: rgba(255, 255, 255, 0.05);
  color: white;
	margin: 0px;
	padding: 10px 18px;
	list-style: none;
}

ons-page .page__content p:first-of-type
{
	padding-top: 14px;
	border-top: 2px solid white;
}

ons-page .page__content p:last-of-type
{
	padding-bottom: 32px;
	margin-bottom: 32px;
}

ons-page .page__content ul li
{
  padding-bottom: 20px;
}



#menu ons-page .page__content
{
	padding: 32px;
}

#menu ons-page ons-list-item
{
	font-size: 16px;
	font-family: "Fjalla One";
	color: white;
}

#menu .center
{
	border-bottom: 1px solid #4F4F4F;
	background-image: none;
	text-transform: uppercase;
}

#menu ons-page .page__background
{
	background-color: #383838;
	background-image: url( /img/kadiweu.png );
	background-position: center;
	background-size: cover;
}


#menu ons-list
{
	background-color: transparent;
	margin-bottom: 32px;
}


#menu .list-header
{
	background-color: #2f2f2f;
	background-image: none;
	color: #FFD300;
}

h1{ margin-top: 0px; padding-top: 0px; }

.page__content h1, .page__content h2, .page__content h3
{
	font-family: "Fjalla One";
	
	margin-bottom: 30px;
	color: white;
	text-shadow: 0px 5px 15px #000;
}

.page__content h1
{
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 0px;
}

.page__content h2, .page__content h3
{
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 32px;
	margin-bottom: 0px;
	padding: 10px 18px;
}


.page__content .card  h3 { margin-top: 0px; }
.page__content .card__title
{
	font-family: "Fjalla One";
	color: white;
	text-shadow: 0px 5px 15px #000;
	margin-bottom: 0px;
	font-size: 24px;
	text-transform: uppercase;
}

ons-page[id="home.html"] .page__content
{
	padding: 0px;
	
}

video
{
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.76);
}



.full
{
	width: 100%;
	margin-bottom: 16px;
	box-shadow: 0px 0px 18px 6px #000;
  border-radius: 8px;
}



.card
{
	background-color: rgba(0, 0, 0, 0.76);
	color: white;
	text-align: center;
}

.card__content{ color: white; }


.toolbar-button
{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: right;
	background: black;
	border-top: 2px solid orange;
	color: orange;
	text-transform: uppercase;
	font-family: 'Abel'
}

.toolbar-button span { margin-left: 10px; } 

section
{
	margin-bottom: 16px;
}

@media only screen and (min-width: 800px)
{
	#menuBtn{ display: none; } 

	
	ons-page .page__content
	{
		padding: 64px;
		font-size: 20px;
	}
	
	.page__content h1
	{
		font-size: 50px;
		
	}
	
	#menu ons-list-item:hover
	{
		cursor: pointer;
		color: yellow;
	}
	
	#expositores
	{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	}
	
	.columns
	{
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: top;
	}
	
	
	.columns div
	{
		flex: 1;
	}
	
	
	.left
	{
		width: 50%;
		float: left;
		margin-right: 26px;
	}
	
	.card .full
	{
		height: 200px;
		object-fit: cover;
	}
	
}

html [lang]{ display: none; }
html[lang="pt"] [lang~="pt"]{ display: block; }
html[lang="en"] [lang~="en"]{ display: block; }

[responsive]
{
  display: block;
  width: 100%;
}