<ons-page id="bar.html">
	
	<h1 lang="pt">Bar Oficial</h1>
	<h1 lang="en">Official Pub</h1>
	
	<p lang="pt">O bar oficial da convenção funcionará nos dois dias,
	sempre após o término do evento que será às 00:00h.</p>
	
	<p lang="en">The official convention bar will be open both days,
always after the end of the event at 00:00.</p>
	
	
	
	<p lang="pt">Esse local de intercâmbio reunirá personagens de vários países
	e muita diversão entre apresentações de DJs e suspensões</p>
	
	<p lang="en">This exchange venue will bring together characters from 
	various countries and a lot of fun between DJ performances and suspensions.</p>
	
	
	
	<img src="/img/bar-1.jpg" class="full" />

	<!--ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('parceiros.html')" >
			
			&GT;&GT; 
			<span lang="pt">Parceiros</span>
			<span lang="en">Partners</span>
			
			
		</ons-toolbar-button>
	</ons-bottom-toolbar-->
	
</ons-page>
