<ons-page id="casario.html">
	
	<h1 lang="pt">O Casario do Porto</h1>
	<h1 lang="en">The harbor houses</h1>
	
	<section>
	
		<p lang="pt">O Casario do Porto Geral de Corumbá, no Mato Grosso do Sul, é um dos pontos mais procurados da cidade.</p>
		<p lang="en">The harbor houses at Corumba's general port, in Mato Grosso do Sul, is one of the most sought after spots in the city.</p>
	
		<p lang="pt">Localizado no centro histórico, o conjunto abriga construções que traduzem em sua arquitetura muito do passado local, no período em que a cidade teve o terceiro maior porto fluvial da América Latina.</p>
		<p lang="en">Located in the historic center, the buildings translate much of its local past into its architecture, during the period when the city had the third largest river port in Latin America.</p>
	
		<p lang="pt">Hoje os prédios são estabelecimentos comerciais, como bares, lojas de artesanatos e agências de publicidade.</p>
		<p lang="en">Today the buildings are commercial establishments such as bars, craft stores and advertising agencies.</p>
	
		<p lang="pt">Aí também está a primeira fábrica de gelo do Brasil.</p>
		<p lang="en">There is also the first ice factory in Brazil.</p>
		
	</section>
	
	
	<img src="/img/casario-1.jpg" class="full" />
	
	
	
	<h2 lang="pt">Patrimônio Nacional</h2>
	<h2 lang="en">National Heritage</h2>
	
	<p lang="pt">Em 1992, o casario foi tombado pelo Instituto do Patrimônio Histórico e Artístico Nacional ( IPHAN ).</p>
	<p lang="en">In 1992, the houses were listed by the Institute of National Historical and Artistic Heritage (IPHAN).</p>
	
	<p lang="pt">O local é palco de muitos eventos sociais e turísticos da cidade, como o Banho de São João, tradicional festa que acontece todos os anos na noite do dia 23 de julho.</p>
	<p lang="en">The venue is the scene of many social and tourist events in the city, such as the Bath of St. John, traditional party that takes place every year on the night of July 23.</p>
	
	<!--ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('corumbella.html')" >
			
			&GT;&GT; 
			<span lang="pt en es">Corumbella</span>
			
		</ons-toolbar-button>
		
	</ons-bottom-toolbar-->
	
</ons-page>
