<ons-page id="convencao.html">
	
	<h1 lang="pt">A Convenção</h1>
	<h1 lang="en">The Convention</h1>
	
	<section>

		<p lang="pt">
			A idéia de trazer a
			PANTANAL INK TATTOO CONVENTION para Corumbá
			é justamente para colocar esta maravilhosa cidade no
			calendário mundial de convenções internacionais e assim
			trazer shows nunca antes vistos na região de MS.
		</p>
		
		<p>
			Corumbá poderá contar com os melhores tatuadores conhecidos
			mundialmente, entre as estrelas estão tatuadores da Austrália,
			USA, Espanha, Chile, Peru, Bolívia, Argentina, Paraguai,
			Brasil e muito mais
		</p>
		
		<p>
			Essa será a primeira convenção internacional de tatuagem realizada
			em Corumbá, e no estado de Mato Grosso do Sul (MS), além de ser
			a primeira de várias, proporcionando esse grande intercâmbio entre
			vários profissionais da "Body ART". O Evento também será um
			projeto social que pretende arrecadar alimentos não perecíveis que
			serão doados para instituições de caridade.
		</p>
			
		<p>
			O evento irá trazer
			muitos benefícios para cidade como turismo, cultura, moda...
			Sendo um grande atrativo para a Corumbá, Ladário e região de fronteira,
			visto que este evento costuma reunir interessados e curiosos, além de ser
			também um programa para famílias e pessoas de todas as tribos e de
			todas idades, PANTANAL INK TATTOO CONVENTION
			um show nunca antes visto.
		</p>


	</section>
	
	<img src="/img/convencao-3.jpg" class="full" />
	
	<p lang="pt"><strong>Data prevista</strong></p>

	<p lang="pt">
		 A Convenção PANTANAL INK TATTOO CONVENTION
		acontecerá nos dias 7, 8 e 9 de Julho de 2023, das 13h às 23h
	</p>

	<p lang="pt">
		O ingresso terá o valor de R$ 20,00 + 1kg de qualquer alimento
		não perecível <em>" arroz, feijão, macarrão ...etc"</em> 
		todos os alimentos arrecadados serão doados para instituições
		de caridade da cidade de Corumbá
	</p>

	<p lang="pt">
		Local : <strong>Centro de convenções de Corumbá- Ms/ Porto Geral</strong>
	</p>

	<h2>As atrações</h2>

	<p lang="pt">Concurso internacional de tatuagem com troféus personalizados:</p>

	<h2>Serão sorteadas cinco tatuagens.</h2>

	<ul>
		<li>1 tatuagem no valor de R$ 3.000,00 (três mil reais)</li>
		<li>2 tatuagens no valor de R$ 1.500,00 (mil e quinhentos reais)</li>
		<li>2 tatuagens no valor de R$ 1.000,00 (mil reais)</li>
		<li>Entre piercing, bonés camiseta etc...</li>
	</ul>

	<img src="/img/convencao-4.jpg" class="full" />
	
	<!--ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('jurados.html')" >
			&GT;&GT; 
			<span lang="pt">Jurados</span>
			<span lang="pt">The Jurors</span>
		</ons-toolbar-button>
	</ons-bottom-toolbar-->
	
</ons-page>
