<ons-page id="corumba.html">
	
	<h1>Corumbá</h1>
	
	<section>
	
		<p lang="pt">Corumbá é um município brasileiro do Estado de Mato Grosso do Sul,
		região Centro Oeste do país.</p>
		
		<p lang="en">Corumbá is a Brazilian municipality in the state of 
		Mato Grosso do Sul, Midwest region of the country.</p>
		
		
		
		
		
		<p lang="pt">Um dos grandes motivadores para a realização deste projeto na 
		Capital do Pantanal é pela cidade ser e ter uma atmosfera 
		cosmopólita - herança trazida desde a época das atividades portuárias
		no final do século XIX.</p>
		
		<p lang="en">One of the great motivators for the realization of this project in the Capital of the Pantanal is that the city is and has a cosmopolitan atmosphere - heritage brought from the time of port activities in the late nineteenth century.</p>
		
		
		
		
		<p lang="pt">É uma bela cidade e a segunda mais antiga do estado.</p>
		<p lang="en">It is a beautiful city and the second oldest in the state.</p>
		
		
		
		
		
		<p lang="pt">Nomes importantíssimos na literatura como Lobivar de Matos, 
		pré-modernista e Manoel de Barros que passou sua infância brincando
		neste cenário que influenciou a sua poesia, por toda a vida.</p>
		
		<p lang="en">Very important names in literature such as Lobivar de Matos, premodernist and Manoel de Barros who spent his childhood playing in this scenario that influenced his poetry, throughout his life.</p>
		
		
		
		
		<img src="/img/corumba-1.jpg" class="full" />
		
	</section>
	
	<p lang="pt">Corumbá, além de contemplativa e histórica, proporciona a 
	observação de pássaros, mamíferos e passeios por uma natureza
	exuberante na maior planície alagada do planeta:O Pantanal</p>
	
	<p lang="en">Corumbá, in addition to being contemplative and historical, offers bird watching, mammals and walks through lush nature on the largest flooded plain on the planet: The Pantanal</p>
	
	
	
	
	
	
	
	<p lang="pt">Foi fundada em 1778 e tem uma vasta história de conquistas em
	seu território, assim como uma linha do tempo invejável, já que
	por aqui passaram muitas pessoas ilustres e aconteceram fatos 
	importantíssimos para a história do nosso país.</p>
	
	<p lang="en">It was founded in 1778 and has a vast history of achievements in its territory, as well as an enviable timeline, as many illustrious people passed through here and very important facts happened for the history of our country.</p>
	
	
	
	
	
	<p lang="pt">Por aqui passava o Caminho de Peabiru, considerada a primeira
	trilha trans-oceânica - do litoral de Santa Catarina até Arequipa, 
	no litoral do Peru - criada há cinco mil anos atrás pelos povos
	originários.</p>
	
	<p lang="en">The Peabiru Way passed here, considered the first trans-oceanic trail - from the coast of Santa Catarina to Arequipa, on the coast of Peru - created five thousand years ago by the original peoples.</p>
	
	
	
	
	
	<p lang="pt">A cidade, após a guerra do Paraguai, teve a ascensão, sendo um
	dos portos mais importantes do país, com saída, pelo Rio Paraguai,
	através do Mar del Plata, para o Oceano Atlântico. Recebia 
	embarcações de países europeus</p>
	
	<p lang="en">The city, after the Paraguayan War, had its rise, being one of the most important ports in the country, leaving, through the Paraguay River, through the Mar del Plata, to the Atlantic Ocean. Received vessels from European countries</p>
	
	
	
	
	
	<p lang="pt">A cidade antiga é formada por um casario de arquitetura eclética, 
	tombado como Patrimônio Histórico, com edificações em Art Déco e
	Art Noveau.</p>
	
	<p lang="en">The old city is formed by a house of eclectic architecture, listed as a Historical Heritage, with buildings in Art Deco and Art Noveau.</p>
	
	
	
	
	<p lang="pt">O Jardim da Independência, 1917, foi desenhado pelo arquiteto 
	do imperador Dom Pedro II. O coreto foi trazido da Alemanha e as 
	estátuas de mármore de carrara, que representam as quatro estações, 
	foram presentes de um conde espanhol.</p>
	
	<p lang="en">The Independence Garden, 1917, was designed by the architect of emperor Dom Pedro II. The bandstand was brought from Germany and the carrara marble statues representing the four seasons were presented by a Spanish earl.</p>
	
	<!--ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('casario.html')" >
			&GT;&GT; 
			<span lang="pt">Casario</span>
			<span lang="en">Harbor Houses</span>
		</ons-toolbar-button>
	</ons-bottom-toolbar-->
	
</ons-page>
