<ons-page id="corumbella.html">
	
	<h1>Corumbella</h1>
	
	<section class="columns">
	
		<div class="left">
		
			<img src="/img/corumbella-1.jpg" class="full" />
		
		</div>
		
		<div>
	
			<p lang="pt">
				Um fossil de um ser vivo com mais de 500 milhões de anos aqui 
				foi descoberta, acidentalmente há pouco mais de 30 anos atrás,
				por um grupo de alunos alemães liderados pelo professor Detlef 
				Walde, enquanto buscavam por recursos minerais na região.
			</p>
			
			<p lang="en">A 500 million year old living fossil here was discovered, accidentally just over 30 years ago, by a group of German students led by Professor Detlef Walde while searching for mineral resources in the region.</p>
			
			
			
			
			
			<p lang="pt">Corumbella é um gênero fóssil pertencente à família monotípica.</p>
			
			<p lang="en">Corumbella is a fossil genus belonging to the monotypic family.</p>
			
			
			
			
			<p lang="pt">Muitos perguntam o que realmente seria a Corumbella.</p>
			
			<p lang="en">Many wonder what Corumbella really would be.</p>
			
			
			
			
			<p lang="pt">O Fóssil da Corumbella não tem as dimensões do fóssil de um peixe, ou tampouco de um dinossauro</p>
			
			<p lang="en">The Corumbella Fossil is not the size of a fish fossil or a dinosaur.</p>
		
		</div>
		
		
	</section>
	
	<section>
	
		<img src="/img/corumbella-2-crop.jpg" class="full" />
	
	
		<p lang="pt">Ao contrário, como pode ser visto nas figuras, são estruturas muito pequenas, medem em torno de 5 a 10 cm de comprimento e até um 1cm de altura.</p>
		
		<p lang="en">On the contrary, as can be seen in the figures, they are very small structures, measuring around 5 to 10 cm in length and up to 1 cm in height.</p>
	
	
	
		<p lang="pt">O processo da fossilização da Corumbella a deixou parecida a uma "minhoca achatada", mas originalmente seu formato era um tubo redondo onde o ser se encontravaem seu interior para proteção das ondas fortes e predadores.</p>
		
		<p lang="en">The process of Corumbella fossilization made it look like a "flat worm", but originally its shape was a round tube where the being met inside to protect against strong and predatory waves.</p>
		
		
	
	</section>
	
	
	
	<!--ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('tatuagem.html')" >
			&GT;&GT; 
			<span lang="pt">Tatuagem</span>
			<span lang="en">Tattoo</span>
		</ons-toolbar-button>
	</ons-bottom-toolbar-->
	
</ons-page>
