<ons-page id="expositores.html">
	
	<h1 lang="pt">Expositores</h1>
	<h1 lang="en">Exhibitors</h1>
	
	<div id="expositores">
		
		<ons-card>
		<img class='full' src="/fotos/tattoo.png">
		<div class="title">
		  Expositor 1
		</div>
		<div class="content">
		  <div>
			<a>
				<h3>La Paz - BO</h3>
			</a>
		  </div>
		</div>
	  </ons-card>
	  
	  <ons-card>
		<img class='full' src="/fotos/tattoo-1.jpg">
		<div class="title">
		  Expositor 2
		</div>
		<div class="content">
		  <div>
			<a>
				<h3>Santa Cruz - BO</h3>
			</a>
		  </div>
		</div>
	  </ons-card>
	  
	  <ons-card>
		<img class='full' src="/fotos/tattoo-2.jpg">
		<div class="title">
		  Expositor 3
		</div>
		<div class="content">
		  <div>
			<a>
				<h3>Buenos Aires - AR</h3>
			</a>
		  </div>
		</div>
	  </ons-card>
	  
	  <ons-card>
		<img class='full' src="/fotos/tattoo-3.jpg">
		<div class="title">
		  Expositor 4
		</div>
		<div class="content">
		  <div>
			<a>
				<h3>São Paulo - BR</h3>
			</a>
		  </div>
		</div>
	  </ons-card>
		
	</div>

	<h3 lang="pt">Quer participar?</h3>
	<h3 lang="en">Wanna join?</h3>
	
	<p>
		
		<span lang="pt">Saiba como reservar seu stand no </span>
		<span lang="en">Learn how to book your booth on </span>
		
		<ons-button onclick="fn.load('inscricao.html')">
			<span lang="pt">Cadastro de Expositores</span>
			<span lang="en">Exhibitor Registration</span>
		</ons-button>
		
	</p>
	
	<!--ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('ingressos.html')" >
			&GT;&GT;
			<span lang="pt">Ingressos</span>
			<span lang="en">Tickets</span>
		</ons-toolbar-button>
	</ons-bottom-toolbar-->
	
</ons-page>
