<ons-page id="ingressos.html">
	
	<h1 lang="pt">Ingressos</h1>
	<h1 lang="en">Tickets</h1>
	
	<section>
	
		<h2>International Corumbá Tattoo Convention</h2>
		
		<p lang="pt">Local: <strong>Corumbaense Futebol Clube</strong></p>
		<p lang="pt">Data da Convenção: <strong>07 e 08 de Dezembro</strong></p>
		<p lang="pt">Horário: <strong>Das 13:00h às 00:00h</strong></p>
		
		<p lang="en">Place: <strong>Corumbaense Futebol Clube - Corumbá - MS - Brazil</strong></p>
		<p lang="en">Convention Date: <strong>December 07 and 08</strong></p>
		<p lang="en">Time: <strong>01:00 PM - 00:00 AM</strong></p>
		
		
		
		
		
		<p lang="pt">
			Ingresso 1º Lote por dia: <strong>R$ 5,00 + Um quilo de alimento não perecível</strong>
			a ser doado para instituições de caridade na cidade de Corumbá
		</p>
		
		<p lang="en">
			1st Lot per day: <strong> R$ 5,00 + One kilo of non-perishable food </strong>
			to be donated to charities in the city of Corumbá
		</p>
		
		
		<p lang="pt">
			Ingresso 2º Lote por dia: <strong>R$ 15,00 + Um quilo de alimento não perecível</strong>
			a ser doado para instituições de caridade na cidade de Corumbá
		</p>
		
		<p lang="en">
			2nd Lot per day: <strong>R$ 15,00 + One kilo of non-perishable food </strong>
			to be donated to charities in the city of Corumbá
		</p>
	
	</section>
	
	<section>
	
		<h2 lang="pt">Camisetas Oficiais</h2>
		<h2 lang="en">Official T-Shirts</h2>
		
		<p lang="pt">Compre a camisa oficial e tenha acesso irrestrito à toda a programação do evento.</p>
		
		<p lang="en">Buy the official shirt and have unrestricted access to the entire program of the event.</p>
		
	
		<img src="/img/camiseta-1.jpg" class="full" />
	
	</section>
	
	
	
	<h2 lang="pt">Reservas por whatsapp: <strong>+55 67 99636-6001</strong></h2>
	<h2 lang="en">WhatsApp reservations: <strong>+55 67 99636-6001</strong></h2>
	
	
	<p lang="pt">
		Compre no cartão na JESUS TATTOO INK, Rua Antônio Maria Coelho 
		nº 78 - Centro, Corumbá MS
	</p>
	
	<p lang="en">
		Buy with credit card at JESUS TATTOO INK, Rua Antônio Maria Coelho 
		nº 78 - Centro, Corumbá MS
	</p>
	
	
	
	<p><img style="max-width: 100%" src="/img/mercadopago.png" /></p>
	
	<ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('programacao.html')" >
			&GT;&GT;
			<span lang="pt">Programação</span>
			<span lang="en">Schedule</span>
		</ons-toolbar-button>
	</ons-bottom-toolbar>
	
</ons-page>
