<ons-page id="jurados.html">
	
	<h1 lang="pt">Jurados</h1>
	<h1 lang="en">The Jurors</h1>
	
	<div id="expositores">
		
		<ons-card>
		<img class='full' src="/jurados/juanjo tattu arte - la paz - bo.png">
		<div class="title">
		  Juanjo / Tattu Arte
		</div>
		<div class="content">
		  <div>
			<a>
				<h3>La Paz - BO</h3>
			</a>
		  </div>
		</div>
	  </ons-card>
	  
	  <ons-card>
		<img class='full' src="/jurados/bruno-longo-sp-br.jpg">
		<div class="title">
		 Bruno Longo 
		</div>
		<div class="content">
		  <div>
			<a>
				<h3>São Paulo - BR</h3>
			</a>
		  </div>
		</div>
	  </ons-card>
	  
	  <ons-card>
		<img class='full' src="/jurados/jaco tattoo - campo grande - br.jpg">
		<div class="title">
		  Jacó Tattoo
		</div>
		<div class="content">
		  <div>
			<a>
				<h3>Campo Grande - BR</h3>
			</a>
		  </div>
		</div>
	  </ons-card>
	  
	  <!--ons-card>
		<img class='full' src="/fotos/tattoo-3.jpg">
		<div class="title">
		  Juanjo / Tattu Arte
		</div>
		<div class="content">
		  <div>
			<a>
				<h3>La Paz - BO</h3>
				Página Oficial
			</a>
		  </div>
		</div>
	  </ons-card-->
		
	</div>
	
	<ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('expositores.html')" >
			&GT;&GT;
			<span lang="pt">Expositores</span>
			<span lang="en">Exhibitors</span>
		</ons-toolbar-button>
	</ons-bottom-toolbar>
	
</ons-page>
