<ons-page id="parceiros.html">
	
	<h1>Onde entra sua empresa ?</h1>

	<p lang="pt">
		Para que está convencão internacional seja realizada
		são necessárias parcerias; É aí que entra sua empresa.
	</p>


	<h2>Cota master R$ 15.000,00</h2>
	<p lang="pt">
		Terá sua logomarca em todas as mídias sociais, Inserção, Tv e
		espaço VIP no local para exposição dos seus produtos.
	</p>
	
	<h2>Cota Premium R$10.000,00</h2>
	<p>
		Terá a logomarca em todas as nossas mídias incuido
		10 inserções na tv ,camisetas, vídeos mais redes sociais
		espaço no local, para exposição de seus produtos.
	</p>

	<h2>Cota especial R$ 5.000,00</h2>
	<p>
		Terá a logo marca em camisetas flayer e todas as
		redes sociais (menos inserções na tv)
	</p>

	<h2>Cota básica R$1.000,00</h2>
	<p>
		Terá logomarca em camisetas, ayers, baners, redes sociais e
		Facebook Instagram.
	</p>
	
	<h2>Cota includer R$ 500,00</h2>
	<p>
		Terá a logomarca em ayers, redes sociais Facebook,
		Instagram e mapas.
	</p>
	
	<h2 lang="pt">Reservas por whatsapp: <strong>+55 67 99940-4401</strong></h2>
	<h2 lang="en">WhatsApp reservations: <strong>+55 67 99940-4401</strong></h2>
	
	
	<p lang="pt">
		Compre no cartão na JESUS TATTOO INK, Rua Delamare 1047, 
		Galeria Pantanal sala 11, Centro, Corumbá - MS
	</p>
	
	<p lang="pt">
		Buy with credit card at JESUS TATTOO INK, Rua Delamare 1047, 
		Galeria Pantanal sala 11, Centro, Corumbá - MS
	</p>
	
	<p><img style="max-width: 100%" src="/img/mercadopago.png" /></p>
	
	<!--ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('realizadores.html')" >
			&GT;&GT;
			<span lang="pt">Realizadores</span>
			<span lang="en">Directors</span>
		</ons-toolbar-button>
	</ons-bottom-toolbar-->
	
</ons-page>
