<ons-page id="programacao.html">
	
	<h1 lang="pt">Programação</h1>
	<h1 lang="en">Schedule</h1>
	
	<p lang="pt">
		Praça de alimentação, espaço kids com tatuagens removíveis,
		Djs, B-Boys, B-Girls, show de Rap, Slam Residência
	</p>

	<h2 lang="pt">
		7 de Julho
	</h2>

	<ul lang="pt">
		<li>10:00h<br />Abertura do Espaço</li>
		<li>Acesso apenas aos profissionais / acomodação</li>
		<li>11:00h<br />Entrega das Credenciais</li>
		<li>12:00h<br />Coquetel de Abertura - somente convidados</li>
		<li>13:00h<br />Abertura Oficial do Evento</li>
		<li>15:00h às 18:00h<br />Sorteio de Tatuagens</li>
		<li>21:00h<br />Premiações</li>
		<li>00:00h<br />Bar Oficial</li>
	</ul>

	<h2 lang="pt">
		8 de Julho
	</h2>

	<ul lang="pt">
		<li>11:00h<br />Abertura do Espaço</li>
		<li>Acesso apenas aos profissionais/ acomodação</li>
		<li>13:00<br />Abertura Oficial do Evento</li>
		<li>21:00h<br />Sorteio de Tatuagens</li>
		<li>21:00h<br />Premiações</li>
		<li>00:00h<br />Bar Oficial</li>
	</ul>


	<h2 lang="pt">
		9 de Julho
	</h2>

	<ul lang="pt">
		<li>13:00<br />Abertura Oficial do evento</li>
		<li>18:00h<br />Sorteio de piercings</li>
		<li>21:00h<br />Sorteio de tatuagems</li>
		<li>21:00h<br />Premiação</li>
		<li>23:00<br />Encerramento do Evento</li>
	</ul>
	
</ons-page>
