<ons-page id="realizadores.html">
	
	<h1 lang="pt">Realização</h1>
	<h1 lang="en">Directors</h1>
	
	<p lang="pt">A realização deste evento é resultado de dez anos de participação em outras convenções e também de um trabalho de pesquisa e enquete com outros profissionais do Brasil.</p>
	<p lang="en">The holding of this event is the result of ten years of participation in other conventions and also a research and poll with other professionals from Brazil.</p>
	
	
	
	<section>
	
		<h2>Jesus Tattoo</h2>
		
		<p lang="pt">Jesus Fernando de Oliveira Añez nasceu em Santa Cruz de La Sierra, Bolívia.</p>
		<p lang="en">Jesus Fernando de Oliveira Añez was born in Santa Cruz de La Sierra, Bolivia.</p>
		
		
		<p lang="pt">Começou a gostar de arte aos oito anos de idade quando observou seu irmão mais velho tatuando a pele de uma pessoa.</p>
		<p lang="en">He began to enjoy art at the age of eight when he observed his older brother tattooing a person's skin.</p>
		
				
		<p lang="pt">Naquele momento ele decidiu que era aquilo que ele queria para a vida dele: Estampar corpos com sua arte!</p>
		<p lang="en">At that moment he decided that was what he wanted for his life: Stamping bodies with his art!</p>
				
	
		<p lang="pt">Daí em diante, começou a tatuar os seus colegas de escola com técnicas improvisadas.</p>
		<p lang="en">Thereafter, he began to tattoo his schoolmates with improvised techniques.</p>
		
		
		<p lang="pt">Aos treze anos fez sua primeira máquina de tatuar, com o motor de um brinquedo a pilha. Por estragar o brinquedo e tatuar seus amigos teve, em casa, a punição de sua mãe</p>
		<p lang="en">At thirteen he made his first tattoo machine, powered by a toy engine. For spoiling the toy and tattooing his friends had, at home, his mother's punishment</p>
		
		
		<p lang="pt">Aos quatorze anos, resolveu sair de casa para seguir o seu caminho e viver de sua própria arte.</p>
		<p lang="en">At fourteen, he decided to leave home to go his own way and live on hir own art.</p>
		
		
		<p lang="pt">Em seguida, com a ajuda de seu irmão, foi para Jujuí, no estado de Salta, na Argentina, onde comprou sua primeira máquina profissional.</p>
		<p lang="en">Then, with the help of his brother, he went to Jujuí, in the state of Salta, Argentina, where he bought his first professional machine.ne.</p>
		
		
		<p lang="pt">Com todas essas vivências e referências adquiridas em suas viagens, mesmo sendo ainda jovem, percebeu que suas ideias estavam mudando pois já queria conviver no meio de profissionais	já experientes nesta arte, porém, sua minoridade o impedia de participar destes grandes eventos.</p>
		<p lang="en">With all these experiences and references acquired in his travels, while still young, he realized that his ideas were changing because he already wanted to live among professionals already experienced in this art, but his minority prevented him from participating in these great events.</p>
		
		
		<p lang="pt">Voltou a estudar e em 2000, já com seus 19 anos de idade mudou-se para o Brasil na cidade de Corumbá, onde como artista de rua iniciou sua conquista de espaço e clientela.</p>
		<p lang="en">He went back to school and in 2000, when he was 19 years old, he moved to Brazil in the city of Corumbá, where as a street artist he began to conquer space and his clientele.</p>
		
		
		<p lang="pt">Aos 20 anos de idade abriu seu próprio estúdio de tatuagem (Body Art), bem no centro da cidade.</p>
		<p lang="en">At age 20 he opened his own tattoo studio (Body Art), right in the center of town.</p>
		
		
		<p lang="pt">Hoje, nacionalizado brasileiro, tem o seu estúdio JESUS TATTOO INK, que é uma forte referência com trabalhos premiados em convenções internacionais.</p>
		<p lang="en">Today, nationalized Brazilian, has his studio JESUS TATTOO INK, which is a strong reference with award-winning works in international conventions.</p>
		
	</section>
	
	<img src="/img/jesus-1.jpg" class="full" />
	<img src="/img/convencao-1.jpg" class="full" />
	<img src="/img/convencao-2.jpg" class="full" />
	
	<h2 lang="pt">Nossa Equipe</h2>
	<h2 lang="en">Our Team</h2>
	
	<p lang="pt">Salim Haqzan - Pesquisas e Imagens</p>
	<p lang="pt">Giovanny Souza - Design / Diagramação</p>
	<p lang="pt">Rodrigo Nishino - Web</p>
	
	<p lang="en">Salim Haqzan - Research and Images</p>
	<p lang="en">Giovanny Souza - Design / Layout</p>
	<p lang="en">Rodrigo Nishino - Web</p>
	
	
	<ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('corumba.html')" >
			&GT;&GT; Corumbá
		</ons-toolbar-button>
	</ons-bottom-toolbar>
	
</ons-page>
