<ons-page id="tatuagem.html">
	
	
	
	<h1 lang="pt">Tatuagem</h1>
	<h1 lang="en">Tattoo</h1>
	
	<section>
	
		<p lang="pt">A  arte de tatuar a pele faz parte da história de povos de todos os cantos do planeta, e conta com uma variedade incrível de desenhos, utilidades, simbolismos e métodos.</p>
		
		<p lang="en">The art of skin tattooing is part of the history of people from every corner of the planet, and has an incredible array of designs, uses, symbolism and methods.</p>
	
		
		
		<p lang="pt">Os povos indígenas da América do Sul estão entre os tatuadores mais prolíficos do mundo, mas a devastação que sofreram com as colonizações fizeram com que restassem poucas tribos que ainda mantêm a tatuagem como prática. Um deles é o povo Kayabi, que habita hoje o Parque Indígena do Xingu. Para os Kayabi, a tatuagem do rosto serve tanto como uma marca tribal, para identificação de indivíduos como membros da tribo, como com a atribuição da alma dos indivíduos em rituais de iniciação.</p>
		
		<p lang="en">The indigenous peoples of South America are among the most prolific tattoo artists in the world, but the devastation they suffered from colonization has left few tribes who still practice tattooing. One of them is the Kayabi people, who today inhabit the Xingu Indigenous Park. For the Kayabi, the face tattoo serves as both a tribal mark, for identifying individuals as members of the tribe, and for assigning the soul of individuals in initiation rituals.</p>
		
		
	
	</section>
	
	<div class="columns">
	
		<div class="left">
			<img src="/img/tatuagem-1.jpg" class="full" />
		</div>
		
		<div>
			<img src="/img/tatuagem-2.jpg" class="full" />
		</div>
		
	</div>
	
	<section>
	
	<h2>Kadiwéus</h2>
	
	<div class="columns">
	
		<div class="left">
			<img src="/img/kadiweu-1.jpg" class="full" />
		</div>
		
		<div>
		
			<p lang="pt">Organizados numa socidade que tinha num extremo os nobres e no outro os cativos, vieram do sangue e do tributo sobre seus vizinhos, dos quais faziam depender sua própria reprodução biológica uma vez que suas mulheres não geravam filhos ou permitiam a penas a sobrebivência de apenas um, quando já estavam no final de seu período fértil</p>
			
			<p lang="en">Organized in a society that had the nobles at one end and the captives at the other, they came from the blood and tribute of their neighbors, on which they made their own biological reproduction dependent since their wives did not bear children or allowed only one survivor, when they were already at the end of their fertile period</p>
			
			
			
			
			<p lang="pt">Estas mulheres dedicavam-se à pintura corporal e facial, cuja especial disposição dos elementos geométricos Lévi-Strauss considerou como característica das sociedades hierárquicas.</p>
			
			<p lang="en">These women were dedicated to body and face painting, whose special arrangement of geometric elements Lévi-Strauss considered as characteristic of hierarchical societies.</p>
			
			
			
						
			<p lang="pt">Desenhos que impressionam pela riqueza de suas formas e detalhes, a que temos fácil acesso através da vasta coleção recolhida por Darcy Ribeiro, reproduzida no livro que publicou sobre os kadiwéu</p>
			
			<p lang="en">Drawings that impress with the richness of their shapes and details, which we can easily access through the vast collection collected by Darcy Ribeiro, reproduced in the book he published about the Kadiwéu.</p>
			
			
	
		</div>
	
	</section>
	
	
	<section>
	
		<h2 lang="pt">Tatuagem Moderna</h2>	
		<h2 lang="en">Modern Tattooing</h2>	
		
		
		<p lang="pt">A tatuagem moderna surgiu nos anos 60 nos EUA e na Europa.</p>
		
		<p lang="en">Modern tattooing emerged in the 1960s in the US and Europe.</p>
		
		
		
		<p lang="pt">Era ainda marginalizada por ser ainda hábitos de prostitutas, gangsters e escravos.</p>
		
		<p lang="en">It was still marginalized as habits of prostitutes, gangsters and slaves.</p>
		
		
		
		<p lang="pt">Hoje em dia tudo isso mudou; A tatuagem é sinônimo de atitude e identidade, pessoas de diferentes tribos e idades são hoje adéptos dessa arte milenar que conquista o mundo inteiro.</p>
		
		<p lang="en">Nowadays all that has changed; Tattooing is synonymous with attitude and identity, people from different tribes and ages are now adept of this millenary art that conquers the whole world.</p>
		
		
		
		<p lang="pt">No Brasil, o precursor da tatuagem moderna foi um cidadão dinamarquês chamado Knud Harald Lucky Gegersen.</p>
		
		<p lang="en">In Brazil, the forerunner of modern tattooing was a Danish citizen named Knud Harald Lucky Gegersen.</p>

		
		
		<p lang="pt">Ele chegou em 1959 e morou em Santos, onde teve grande importância no mundo da tatuagem nacional.</p>
		
		<p lang="en">He arrived in 1959 and lived in Santos, where he had great importance in the world of national tattooing.</p>
		
		
		

	</section>
	
	<img src="/img/tatuagem-3.jpg" class="full" />
	
	<ons-bottom-toolbar>
		<ons-toolbar-button onclick="fn.load('home.html')" >
			
			&GT;&GT; 
			
			<span lang="pt">Início</span>
			<span lang="en">Home</span>
			
			
		</ons-toolbar-button>
	</ons-bottom-toolbar>
	
</ons-page>
